<html>
    <head>
        <title>Daftar Buku</title>

        <script src="./js/angular.min.js"></script>
        <link rel="stylesheet" href="./bootstrap/css/bootstrap.min.css"/>

        <script src="./js/buku-app.js"></script>
        <script src="./js/daftar-controller.js"></script>
    </head>
    <body class="container" ng-app="BukuApp">
        <div class="jumbotron">
            <h1>Daftar Buku</h1>
        </div>

        <div ng-controller="DaftarController">
            <table class="table">
                <thead>
                    <th>ID</th>
                    <th>NAMA</th>
                    <th>JUDUL BUKU</th>
                </thead>
                <tbody>
                    <tr ng-repeat="buku in daftarBuku">
                        <td>{{ buku.id }}</td>
                        <td>{{ buku.nama }}</td>
                        <td>{{ buku.judul_buku }}</td>
                        <td>
                            <button class="btn btn-warning"
                                    ng-click="edit(buku)">
                                Edit
                            </button>
                        </td>
                        <td>
                            <button class="btn btn-danger"
                                    ng-click="hapus(buku)">
                                Hapus
                            </button>
                        </td>
                    </tr>
                </tbody>
            </table>
            <button class="btn btn-primary"
                    ng-click="tambah()">
                Tambah
            </button>
        </div>
    </body>
</html>